@import url('https://fonts.googleapis.com/css?family=Pacifico');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@import url('http://fontawesome.io/assets/font-awesome/css/font-awesome.css');

.my-font-logo {
    font-family: 'Pacifico', cursive;
}

.my-font-logo span {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}

::-moz-selection{
    background:#4a5a8f;
    color:#7d98f6
}
::selection{
    background: rgba(118,144,242,0.5);
    color:#7d98f6
}

@media (min-width: 979px) {

    .affix-top {
        position:fixed;
        width:265px;
        margin-right:10px;

    }

    .affix {
        position:static;
        width:100%;
    }

}

@media (min-width: 767px) {
    .affix,.affix-top {
        position:fixed;
    }
}

html {
    background: rgba(35,45,74,1);
    background: -moz-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(35,45,74,1)), color-stop(22%, rgba(35,45,74,1)), color-stop(100%, rgba(67,82,133,1)));
    background: -webkit-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: -o-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232d4a', endColorstr='#435285', GradientType=1 );
    color: #7690f2;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: rgba(35,45,74,1);
    background: -moz-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(35,45,74,1)), color-stop(22%, rgba(35,45,74,1)), color-stop(100%, rgba(67,82,133,1)));
    background: -webkit-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: -o-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    background: linear-gradient(45deg, rgba(35,45,74,1) 0%, rgba(35,45,74,1) 22%, rgba(67,82,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232d4a', endColorstr='#435285', GradientType=1 );
    color: #7690f2;
    background-attachment: fixed;
}

a {
    color: #8598d9;
}

a:hover, a:focus {
    color: #bacaff;
    text-decoration: none;
}

.pl-badge {
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
    font-size: 13px;
    font-weight: lighter;
}

.pl-badge-offline {
    background-color: rgba(223,58,58,0.3);
    color: #ed9797;
    font-size: 13px;
    font-weight: lighter;
}

.pl-table-server {
    font-weight: 600;
    width: 100%;
    -webkit-box-shadow: inset 0 76px 67px -90px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 76px 67px -90px rgba(0,0,0,0.4);
    box-shadow: inset 0 76px 67px -90px rgba(0,0,0,0.4);
}

.pl-table-server thead tr td {
    border-bottom: 1px solid #525f96;
    padding-left: 40px;
    padding-right: 20px;
    height: 80px;
    color: #99a7fe;
}

.pl-table-server tbody tr td {
    border-bottom: 1px solid #525f96;
    padding-left: 40px;
    padding-right: 20px;
    height: 90px;
    color: #99a7fe;
}

.gold-text {
    background: -webkit-linear-gradient(#ffcf40, #ffbf00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffbf00;
}

.pl-table-server tbody tr td .pl-icon-badge-game {
    padding-top: 13.5px;
    text-align: center;
    color: #ffffff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(151,175,255,1);
    background: -moz-linear-gradient(top, rgba(151,175,255,1) 0%, rgba(124,155,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(151,175,255,1)), color-stop(100%, rgba(124,155,255,1)));
    background: -webkit-linear-gradient(top, rgba(151,175,255,1) 0%, rgba(124,155,255,1) 100%);
    background: -o-linear-gradient(top, rgba(151,175,255,1) 0%, rgba(124,155,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(151,175,255,1) 0%, rgba(124,155,255,1) 100%);
    background: linear-gradient(to bottom, rgba(151,175,255,1) 0%, rgba(124,155,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97afff', endColorstr='#7c9bff', GradientType=0 );
    -webkit-box-shadow: 0 21px 32px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 21px 32px -5px rgba(0,0,0,0.1);
    box-shadow: 0 21px 32px -5px rgba(0,0,0,0.1);
    opacity: 0.8;
}

.pl-table-server tbody tr td .pl-icon-badge-game.new {
    opacity: 1;
}

.pl-table-server-button-user {
    background-color: #2f395f;
    border: none;
    border-radius: 3px;
    color: #758cde;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.pl-table-server-button {
    background-color: #5b6eab;
    border: none;
    border-radius: 3px;
    color: #fff;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
    font-weight: 600;
}

.pl-table-server-button:hover {
    background: rgba(145,235,146,1);
    background: -moz-linear-gradient(top, rgba(145,235,146,1) 0%, rgba(110,195,112,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(145,235,146,1)), color-stop(100%, rgba(110,195,112,1)));
    background: -webkit-linear-gradient(top, rgba(145,235,146,1) 0%, rgba(110,195,112,1) 100%);
    background: -o-linear-gradient(top, rgba(145,235,146,1) 0%, rgba(110,195,112,1) 100%);
    background: -ms-linear-gradient(top, rgba(145,235,146,1) 0%, rgba(110,195,112,1) 100%);
    background: linear-gradient(to bottom, rgba(145,235,146,1) 0%, rgba(110,195,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91eb92', endColorstr='#6ec370', GradientType=0 );
}

.pl-table-server-button .icon {
    color: rgba(0,0,0,0.5);
    margin-right: 12px;
    font-size: 20px;
    margin-bottom: -2px;
}

.pl-pagination {
    font-weight: 600;
    background-color: #1a223a;
    border-radius: 4px;
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,1);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,1);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,1);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #a7bbff;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.pl-bgfooter {
    background-color: #1a223a;
    border-radius: 4px;
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,1);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,1);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,1);
    padding-top: 10px;
    padding-bottom: 0px;
    color: #a7bbff;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
    font-weight: bold;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: rgba(118,144,242,0.2);
    border: 1px solid rgba(118,144,242,0.5);
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    color: #8598d9;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: transparent;
    border: 1px solid transparent;
}

.page-link:focus, .page-link:hover {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    color: #bacaff;
}

.page-link:not([disabled]):not(.disabled) {
    cursor: pointer;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    color: #bacaff;
}

.page-item.disabled .page-link {
    color: #bacaff;
    pointer-events: none;
    cursor: auto;
    background-color: transparent;
    border-color: transparent;
}

.pagination-sm .page-link {
    padding: 0 8px;
    font-size: 16px;
    line-height: 1.5;
}

.js-tilt {
    height: 200px;
    background-color: transparent;
    border-bottom: 1px solid rgba(118,144,242,0.25);
    border-left: 1px solid rgba(118,144,242,0.25);
    border-top: 1px solid rgba(118,144,242,0.25);
    color: #8199de;
    padding: 15px;
}

.js-tilt .icon {
    color: #9ab2ff;
}

.js-tilt:hover .icon {
    color: #5b58a8;
}

.js-tilt:hover .desc {
    color: #9892ff;
}

.js-tilt:nth-last-child(1) {
    border-right: 1px solid rgba(118,144,242,0.25);
}

.js-tilt:hover {
    color: #FFFFFF;
    z-index: 99;
    background: rgba(141,138,247,1);
    background: -moz-linear-gradient(top, rgba(141,138,247,1) 0%, rgba(103,96,200,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(141,138,247,1)), color-stop(100%, rgba(103,96,200,1)));
    background: -webkit-linear-gradient(top, rgba(141,138,247,1) 0%, rgba(103,96,200,1) 100%);
    background: -o-linear-gradient(top, rgba(141,138,247,1) 0%, rgba(103,96,200,1) 100%);
    background: -ms-linear-gradient(top, rgba(141,138,247,1) 0%, rgba(103,96,200,1) 100%);
    background: linear-gradient(to bottom, rgba(141,138,247,1) 0%, rgba(103,96,200,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8d8af7', endColorstr='#6760c8', GradientType=0 );
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    background: rgba(73,88,143,1);
    background: -moz-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,88,143,1)), color-stop(16%, rgba(73,88,143,1)), color-stop(100%, rgba(87,104,164,1)));
    background: -webkit-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: -o-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: linear-gradient(to right, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49588f', endColorstr='#5768a4', GradientType=1 );
    border-radius: 3px;
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65), inset 0 -27px 86px -26px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65), inset 0 -27px 86px -26px rgba(0,0,0,0.27);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65), inset 0 -27px 86px -26px rgba(0,0,0,0.27);
    height: 60px;
    color: #7f91d2;
    font-size: 15px;
    line-height: 38px;
    font-weight: bold;
    text-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #7788c3;
    content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #c2d0ff;
}

.pl-footer {
    color: #465383;
}

.pl-footer span {
    font-family: 'Pacifico', cursive;
}

.pl-special {
    background: rgba(39,48,81,1);
    background: -moz-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,48,81,1)), color-stop(6%, rgba(39,48,81,1)), color-stop(50%, rgba(47,58,97,1)), color-stop(94%, rgba(37,46,78,1)), color-stop(100%, rgba(37,46,78,1)));
    background: -webkit-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: -o-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: linear-gradient(to right, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273051', endColorstr='#252e4e', GradientType=1 );
}

.pl-sidebar {
    background: rgba(45,57,97,1);
    background: -moz-linear-gradient(-45deg, rgba(45,57,97,1) 0%, rgba(24,31,53,1) 75%, rgba(24,31,53,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(45,57,97,1)), color-stop(75%, rgba(24,31,53,1)), color-stop(100%, rgba(24,31,53,1)));
    background: -webkit-linear-gradient(-45deg, rgba(45,57,97,1) 0%, rgba(24,31,53,1) 75%, rgba(24,31,53,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(45,57,97,1) 0%, rgba(24,31,53,1) 75%, rgba(24,31,53,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(45,57,97,1) 0%, rgba(24,31,53,1) 75%, rgba(24,31,53,1) 100%);
    background: linear-gradient(135deg, rgba(45,57,97,1) 0%, rgba(24,31,53,1) 75%, rgba(24,31,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3961', endColorstr='#181f35', GradientType=1 );
    width: 25%;
    position: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    top: 66px;
    right: 0;
    bottom: 0;
    font-size: 16.5px;
    max-height: 100%;
    overflow-y: auto;
}

.pl-body-scroll {
    position: fixed;
    max-height: 100%;
    top: 66px;
    bottom: 0;
    overflow-y: auto;
}

.pl-rules {
    list-style-type: decimal;
    list-style-position: outside;
    font-size: 14px;
}

.pl-rules li {
    padding-bottom: 8px;
    padding-top: 8px;
}

a.pl-special:focus, a.pl-special:hover,
button.pl-special:focus,
button.pl-special:hover {
    background: rgba(39,48,81,1);
    background: -moz-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,48,81,1)), color-stop(6%, rgba(39,48,81,1)), color-stop(50%, rgba(47,58,97,1)), color-stop(94%, rgba(37,46,78,1)), color-stop(100%, rgba(37,46,78,1)));
    background: -webkit-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: -o-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: -ms-linear-gradient(left, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    background: linear-gradient(to right, rgba(39,48,81,1) 0%, rgba(39,48,81,1) 6%, rgba(47,58,97,1) 50%, rgba(37,46,78,1) 94%, rgba(37,46,78,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273051', endColorstr='#252e4e', GradientType=1 );
}

.navbar-dark .navbar-brand {
    color: #5a72bb;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #5a72bb;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-nav .nav-link {
    color: #8091ce;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #d8e0ff;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: #465383;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #d8e0ff;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-toggler {
    color: #8091ce;
    border-color: #8091ce;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
    color: #8091ce;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-text a {
    color: #8091ce;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover {
    color: #d8e0ff;
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.08);
}

.navbar {
    font-size: 16px;
    padding: 0.8rem 1rem;
    -webkit-box-shadow: inset 0 -17px 65px 6px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0 -17px 65px 6px rgba(0,0,0,0.15);
    box-shadow: inset 0 -17px 65px 6px rgba(0,0,0,0.15);
}

.table-dark {
    color: #fff;
    background-color: #1a2239;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: rgba(0,0,0,0.1);
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-pl-dark {
    color: #fff;
    background-color: rgba(0,0,0,0.08);
}

.table-pl-dark th,
.table-pl-dark td,
.table-pl-dark thead th {
    border-color: rgba(0,0,0,0.1);
}

.table-pl-dark.table-bordered {
    border: 0;
}

.table-pl-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.pl-td-padding td {
    padding: 5px;
}

.btn-link {
    color: #8598d9;
}

.btn-link:hover {
    color: #bacaff;
}

.pl-menu-button {
    position: absolute;
    right: 50px;
    background: rgba(118,144,242,0.25);
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 4px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
}

.pl-server {
    background: rgba(73,88,143,1);
    background: -moz-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,88,143,1)), color-stop(16%, rgba(73,88,143,1)), color-stop(100%, rgba(87,104,164,1)));
    background: -webkit-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: -o-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    background: linear-gradient(to right, rgba(73,88,143,1) 0%, rgba(73,88,143,1) 16%, rgba(87,104,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49588f', endColorstr='#5768a4', GradientType=1 );
    border-radius: 3px;
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65), inset 0 -27px 86px -26px rgba(0,0,0,0.27);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65), inset 0 -27px 86px -26px rgba(0,0,0,0.27);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65), inset 0 -27px 86px -26px rgba(0,0,0,0.27);
    height: 60px;
    color: #a7bbff;
    font-size: 18px;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
}

.pl-server:hover {
    color: #c2d0ff;
}

.form-group label {
    font-size: small;
    color: #7690f2;
    text-shadow: 1px 1px 7px #26304f;
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #7690f2;
    background-color: rgba(118,144,242,0.25);
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #7690f2;
    background-color: rgba(118,144,242,0.35);
    outline: 0;
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    color: #48598c;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #48598c;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #48598c;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #48598c;
    opacity: 1;
}

.form-control::placeholder {
    color: #48598c;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgba(118,144,242,0.1);
    opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%;
}

.form-text {
    color: #48598c;
}

.alert-pl {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    color: #d4c9ff;
    background: rgba(109,83,212,1);
    background: -moz-linear-gradient(top, rgba(109,83,212,1) 0%, rgba(89,66,184,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(109,83,212,1)), color-stop(100%, rgba(89,66,184,1)));
    background: -webkit-linear-gradient(top, rgba(109,83,212,1) 0%, rgba(89,66,184,1) 100%);
    background: -o-linear-gradient(top, rgba(109,83,212,1) 0%, rgba(89,66,184,1) 100%);
    background: -ms-linear-gradient(top, rgba(109,83,212,1) 0%, rgba(89,66,184,1) 100%);
    background: linear-gradient(to bottom, rgba(109,83,212,1) 0%, rgba(89,66,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d53d4', endColorstr='#5942b8', GradientType=0 );
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,0.65);
}

.alert-pl hr {
    border-top-color: #c2b2ff;
}

.alert-pl .alert-link {
    color: #c2b2ff;
}

.button, .button:focus {
    background-color: #748ff2;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.6);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.6);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,0.6);
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}

.button-small {
    padding: 0.255rem 0.35rem;
    line-height: 0.8;
    font-size: 13px;
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.4);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.4);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,0.4);
}

.button-sm, .button-sm:hover, .button-sm:focus {
    background-color: #748ff2;
    font-size: 13px;
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.255rem 0.35rem;
    line-height: 0.8;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.4);
    -moz-box-shadow: 0 21px 32px -5px rgba(39,48,81,0.4);
    box-shadow: 0 21px 32px -5px rgba(39,48,81,0.4);
    text-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #465383;
    border: 5px solid rgba(26,34,57, 0.3);
    border-radius: 0.4rem;
}

.loader {
    border: 1px solid #495990;
    border-top: 1px solid #7690f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #6c53d6;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #6c53d6, 0 0 5px #6c53d6;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #6c53d6;
    border-left-color: #6c53d6;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.progress {
    width: 40px;
    height: 40px;
    line-height: 34px;
    background: none;
    margin: 0 auto;
    -webkit-box-shadow: 0 21px 32px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 21px 32px -5px rgba(0,0,0,0.1);
    box-shadow: 0 21px 32px -5px rgba(0,0,0,0.1);
    position: relative;
}
.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #576baa;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left {
    left: 0;
}
.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: rgba(124,155,255,1);
}
.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right {
    right: 0;
}
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress .progress-value {
    line-height: 38px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 43px;
}

.progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}
.progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}
.progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}
.progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}
.progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}
@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(72);
        transform: rotate(72deg);
    }
}
@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}
@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}
@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}
.progress {
    margin-bottom: 1em;
}

/*
 * Hidden
 * `hidden` attribute also set here to make it stronger
 */
[hidden],
.uk-hidden {
    display: none !important;
}
/* Phone landscape and bigger */
@media (min-width: 640px) {
    .uk-hidden\@s {
        display: none !important;
    }
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
    .uk-hidden\@m {
        display: none !important;
    }
}
/* Desktop and bigger */
@media (min-width: 1200px) {
    .uk-hidden\@l {
        display: none !important;
    }
}
/* Large screen and bigger */
@media (min-width: 1600px) {
    .uk-hidden\@xl {
        display: none !important;
    }
}
/*
 * Visible
 */
/* Phone portrait and smaller */
@media (max-width: 639px) {
    .uk-visible\@s {
        display: none !important;
    }
}
/* Phone landscape and smaller */
@media (max-width: 959px) {
    .uk-visible\@m {
        display: none !important;
    }
}
/* Tablet landscape and smaller */
@media (max-width: 1199px) {
    .uk-visible\@l {
        display: none !important;
    }
}
/* Desktop and smaller */
@media (max-width: 1599px) {
    .uk-visible\@xl {
        display: none !important;
    }
}